@import "../../styles/responsive.scss";

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../../assets/hero_banner.jpg") no-repeat center center;
  background-size: cover;
  overflow-x: hidden;

  @include sm {
    background: url("../../assets/hero_banner.jpg") no-repeat 68% center;
    overflow-x: hidden;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 25%,
      transparent 75%
    );
    z-index: 1;
    width: 100%;

    @include sm {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 10%,
        transparent 70%
      );
    }
  }
  figure {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 6%;
    z-index: 2;
    @include md {
      left: 4%;
    }

    .caption-img {
      width: 90%;
      max-width: 420px;
      margin-bottom: 30px;

      @include md {
        margin-bottom: 10px;
        width: 40%;
      }

      @include sm {
        display: none;
      }
    }
    figcaption {
      max-width: 700px;
      font-size: 0.94rem;
      margin-bottom: 20px;

      @include md {
        padding-right: 50px;
        margin-bottom: 10px;
        font-size: 0.75rem;
      }
      @include md {
        padding-right: 20px;
      }
    }
    .hero-btns {
      display: flex;
      gap: 10px;
      margin-bottom: 50px;

      @include md {
        margin-bottom: 30px;
      }

      .hero-btns img {
        @include md {
          width: 20px;
        }
      }
    }
  }
  .more-cards {
    padding-left: 6%;

    @include md {
      padding-left: 4%;
    }
  }
}
