@import "../../styles//responsive.scss";

.title-cards {
  margin: 50px 0 30px 0;
  padding-left: 6%;

  @include md {
    margin: 20px 0 0 0;
  }
  h2 {
    margin-bottom: 8px;

    @include md {
      font-size: 1.25rem;
    }
    @include sm {
      font-size: 0.94rem;
    }
  }
  .card-list {
    display: flex;
    overflow-x: scroll;
    gap: 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    figure {
      width: 240px;
      flex: 0 0 auto;
      color: white;
      position: relative;
      @include md {
        width: 200px;
      }
      @include sm {
        width: 165px;
      }
      .card-list-link {
        text-decoration: none;
      }
      img {
        border-radius: 4px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
      figcaption {
        position: absolute;
        color: white;
        text-decoration: none;
        bottom: 15px;
        right: 5px;
        @include md {
          font-size: 0.75rem;
        }
        @include sm {
          font-size: 0.625rem;
        }
      }
    }
  }
}
