@import "../../styles/responsive.scss";
.player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;

    @include sm {
      width: 40px;
    }
  }
  iframe {
    border-radius: 10px;
  }
  .player-info {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    p {
      @include sm {
        font-size: 0.75rem;
      }
    }
  }
}
